In [1]:
## Set up library and read file

import pandas as pd

file_name = 'election_data.csv'

df = pd.read_csv(file_name)

In [6]:
## Get a visual representation of the data grouped by the candidate

g_df = df.groupby('Candidate')

g_df.describe()

            Voter ID                                                       \
               count          mean           std         min          25%
Candidate
Correy      704200.0  1.499706e+07  2.888537e+06  10000009.0  12492492.00
Khan       2218231.0  1.500207e+07  2.885920e+06  10000002.0  12504575.50
Li          492940.0  1.500141e+07  2.888177e+06  10000034.0  12495644.75
O'Tooley    105630.0  1.499707e+07  2.886103e+06  10000124.0  12498131.50


                  50%          75%         max
Candidate
Correy     14998819.0  17500744.75  19999962.0
Khan       15003095.0  17499321.50  19999998.0
Li         15003347.0  17504391.00  19999941.0
O'Tooley   14994639.0  17494587.25  19999958.0

In [3]:
## Start a loop to get the vote counts for each unique candidate and then store that, along with their name

unique_c = df['Candidate'].unique()

store_count = []
cand_name = []

for i in range(len(unique_c)):
    z = unique_c[i]
    g_unique = df[df['Candidate']==z]
    count = g_unique.count()
    cand_name.append(z)
    store_count.append(count)

In [4]:
## Now determine the percentages as well as if the candidate is a winner or loser based on who got the most votes

cand_count = []
cand_percent = []
status = []

total_count = df.count()

for i in store_count:
    cand_count.append(i[0])
    percent = (i[0]/total_count)
    cand_percent.append(percent[0])
    
max_count = max(cand_count)

for j in cand_count:
    if max_count == j:
        sts = str('Winner')
        status.append(sts)
    else:
        sts = str('Loser')
        status.append(sts)

In [5]:
## Finally, create a dataframe based on the data gathered above

summary = {'Votes': cand_count, 'Name': cand_name, 'Percent': cand_percent, 'Status': status}
final_df = pd.DataFrame(summary)
final_df

     Votes      Name  Percent  Status
0  2218231      Khan     0.63  Winner
1   704200    Correy     0.20   Loser
2   492940        Li     0.14   Loser
3   105630  O'Tooley     0.03   Loser

In [98]:
## Output to csv

final_df.to_csv('pypoll_output.csv',index=False)